@charset "UTF-8";

/* body */
body{
	background-color: #CCCCCC;
}

/* nav-top */
.navbar.navbar-inverse{
	margin-bottom: 0px;
}

.navbar.navbar-inverse ul>li>a{
	background-color: #333333;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	color: #FFFFFF;
}

/* nav-menu */

.navbar.navbar-default{
	margin-bottom: 0px;
	height: 100px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    line-height: 120%;
}

.navbar-nav.navbar-center > li{
	padding-right: 30px;
	font-size: 1.2em;
	font-weight: bold;
}

.navbar-nav.navbar-left img{
	padding-top: 15px;
	width: 120px;
}

.navbar-nav.navbar-center > li > a{
	padding-top: 40px;
	color: #AAAAAA;
}

.navbar-form.navbar-right{
	padding-top: 20px;
}


/* path */

.breadcrumb{
	padding-left: 50px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 0;
}

.breadcrumb li a{
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}