@charset "UTF-8";

/* body */
body{
	background-color: #BBBBBB;
}

/* nav-top */
.navbar.navbar-inverse{
	margin-bottom: 0px;
	padding-right: 80px;
}

.navbar.navbar-inverse ul>li>a{
	margin-top: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 20px;
	background-color: #333333;
	color: #FFFFFF;
}

.navbar.navbar-inverse ul>li>a:hover{
	background-color: #999999;
}

.nav.navbar-nav.pull-right .dropdown-menu{
	background-color: #333333;
}

.nav.navbar-nav.pull-right .dropdown-menu label{
	color: #FFFFFF;
}

.nav.navbar-nav.pull-right .dropdown-menu input{
	background-color: #FFFEAA;
	width: 200px;
}

/* nav-menu */

.navbar.navbar-default{
	margin-bottom: 0px;
	height: 100px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    line-height: 120%;
}

.navbar-nav.navbar-center > li{
	padding-right: 30px;
	font-size: 1.2em;
	font-weight: bold;
}

.navbar-nav.navbar-left img{
	padding-top: 15px;
	width: 120px;
}

.navbar-nav.navbar-center > li > a{
	padding-top: 40px;
	color: #AAAAAA;
}

.navbar-form.navbar-right{
	padding-top: 20px;
}


/* path */

.breadcrumb{
	padding-left: 50px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 0;
}

.breadcrumb li a{
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

/* register */
.ex {
	background-color:white;
	width: 700px;
	height: 100%;
	padding: 40px;
	border-style:outset;
 	margin: 40px 0px; 
	position: absolute;
	left: 30%;
}

.form-group .control-label:after {
	 content:"*";
	 color:red;
}

/* main */
.container .box{
	margin-top: 50px;
	text-align: center;
}

.container .box hr{
	height: 1px;
	background: #AAAAAA;
	background-image: linear-gradient(left, #CCCCCC, #AAAAAA, #CCCCCC);
}

.container .box .header{
	color: #FDFDFD;
	font-size: 1.7em;
}

.container .box .content{
	color: #FDFDFD;
	font-size: 1.3em;
}

/* item */

/* search-bar */
.search-bar{
	width: 100%;
	height: 100px;
	background: #333333;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.search-bar .container{
	color: #666666;
	display: block;
	position: absolute;
    left: 50%;
    transform: translatex(-50%);
    line-height: 120%;
}