@charset "UTF-8";

/* body */
body{
	background-color: #FFFFFF;
}

/* nav-top */
.navbar.navbar-inverse{
	border-radius: 0;
	margin-bottom: 0px;
	padding-right: 80px;
}

.navbar.navbar-inverse ul>li>a{
	margin-top: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 20px;
	background-color: #333333;
	color: #FFFFFF;
}

.navbar.navbar-inverse ul>li>a:hover{
	background-color: #999999;
}

.nav.navbar-nav.pull-right .dropdown-menu{
	background-color: #333333;
}

.nav.navbar-nav.pull-right .dropdown-menu label{
	color: #FFFFFF;
}

.nav.navbar-nav.pull-right .dropdown-menu input{
	background-color: #FFFEAA;
	width: 200px;
}

/* nav-menu */

.navbar.navbar-default{
	margin-bottom: 0px;
	height: 100px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    line-height: 120%;
}

.navbar-nav.navbar-center > li{
	padding-right: 30px;
	font-size: 1.2em;
	font-weight: bold;
}

.navbar-nav.navbar-left img{
	padding-top: 15px;
	width: 120px;
}

.navbar-nav.navbar-center > li > a{
	padding-top: 40px;
	color: #AAAAAA;
}

.navbar-form.navbar-right{
	padding-top: 20px;
}


/* path */

.breadcrumb{
	margin-bottom: 0px;
	padding-left: 50px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 0;
}

.breadcrumb li a{
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

/* register */
.ex {
	background-color:white;
	width: 700px;
	height: 730px;
	padding: 40px;
	border-style:outset;
 	margin: 40px 0px; 
	position: absolute;
	left: 30%;
}

.form-group .control-label:after {
	 content:"*";
	 color:red;
}



/* userinfo */
.infofo {
	
	background-color:white;
	width: 700px;
	height: 500px;
	padding: 40px;
	border-style:outset;
 	margin: 40px 0px; 
	position: absolute;
	left: 30%;
	
}



/* main */
section{
	margin-top: 0px;
	background-color: #999999;
	padding-bottom: 40px;
}

.container .box{
	margin-top: 50px;
	text-align: center;
}

.container .box hr{
	height: 1px;
	background: #AAAAAA;
	background-image: linear-gradient(left, #CCCCCC, #AAAAAA, #CCCCCC);
}

.container .box .header{
	color: #FDFDFD;
	font-size: 1.7em;
}

.container .box .content{
	color: #FDFDFD;
	font-size: 1.3em;
}

/* item */

/* search-bar */
.search-bar{
	width: 100%;
	height: 100px;
	background: #333333;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.search-bar .container{
	color: #999999;
}

.search-bar .form-group{
	float: left;
	display: inline-block;
}

.dark-bg .form-control{
	background-color: rgba(255, 255, 255, 0.15);
	border-color: #353535;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
	color: #CCCCCC;
	vertical-align: middle;
	border-radius: 5px;
	position: relative;
	margin-right: 5px;
}

.key-form{
	width: 100px;
}

/* outer */
.outer{
	background-color: #FFFFFF;
	height: 100%;
}

/* items */
.items .container{
	margin-top: 20px;
	float:left;
	display: inline-block;
	width: 100%;
}

.items > .container .row{
	margin-top: 40px;
}

.items > .container .item-img{
	margin-top: 20px;
	margin-left: 10px;
}

.items > .container .item-img img{
	width: 180px;
}

.items > .container .item-content{
	padding-left: 20px;
}

.items > .container .item-content .item-title{
	font-size: 1.7em;
}

.items > .container .item-content .item-title a{
	color: #000000;
	transition: color 0.3s ease-out;
}

.items > .container .item-content .item-title a:hover{
	color: #BEBEBE;
}

.items > .container .item-content .item-material{
	font-size: 1em;
	color: #AAAAAA;
}

.items > .container .item-content button{
	background-color: #09AFDF;
	color: #FFFFFF;
	border-color: #0C9EC7;
	margin-right: 1px;
}




/* img hover effect */

.item-img{text-align:center;position:relative}
.item-img .box-content{width:100%;height:100%;background:0 0;padding-top:25%;position:absolute;top:0;left:0;transition:all .3s ease 0s}
.item-img .icon,.item-img .title{transition:all .2s ease 0s}
.item-img:hover .box-content{background:rgba(0,0,0,.5)}
.item-img .title{font-size:24px;color:#fff;transform:scale(0)}
.item-img:hover .title{transform:scale(1)}
.item-img .icon{list-style:none;padding:0;margin:0;opacity:0}
.item-img:hover .icon{opacity:1}
.item-img .icon li{display:inline-block}
.item-img .icon li:first-child a,.item-img .icon li:last-child a{display:block;width:50px;height:50px;line-height:50px;font-size:24px;color:#fff;border:1px solid #fff;position:relative}
.item-img .icon li a{top:-150px}
.item-img:hover .icon li a{top:0}
.item-img:hover .icon li a:hover{background:#a46789;border-color:#a46789}
.item-img .icon li:first-child a{transition:all .6s cubic-bezier(.175,.885,.32,1.275) 0s}
.item-img .icon li:last-child a{transition:all .6s cubic-bezier(.175,.885,.32,1.275) .1s}
@media only screen and (max-width:990px){.item-img{margin-bottom:30px}
}
@media only screen and (max-width:360px){.item-img .box-content{padding-top:20%}
}




/* main - bottom items */
.bottom-items .container{
	margin-top: 50px;
	width: 100%;
}

.bottom-items .container .item-img{
	width: 30%;
	float: left;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #DDDDDD;
}

.bottom-items .container .item-img img{
	width: 220px;
}

.bottom-items .container .box-content{
}


/* alert-message */
.alert{
	width: 20%;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    line-height: 120%;
    text-align: center;
}
